/* App.css */

/* Body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background */
  }
  
  /* Page container */
  .App {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
  }
  
  /* Heading styles */
  .AppHeading {
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  /* Sections layout */
.Sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

/* Upload and JSONOutput */
.UploadSection {
  width: 48%;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.JSONOutput {
  width: 48%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* History Section */
.HistorySection {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  /* Filter buttons */
  .FilterSection {
    margin-bottom: 20px;
  }
  
  .FilterSection button {
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2196f3; /* Blue button */
    color: #fff;
    font-size: 14px;
  }
   
 /* Records table */
.RecordsTable {
    overflow-x: auto;
    width: 100%;
  }
  
  .RecordsTable table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
  }
  
  .RecordsTable th,
  .RecordsTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  
  .RecordsTable th {
    background-color: #f0f0f0; /* Table header background color */
  }
  
  /* JSON Output section */
  .JSONOutput {
    margin-top: 20px;
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
  }
  
  /* Modal Styles */
.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
